@use '../abstracts'as a;

.card {
    background-color: white;
    max-width: 45rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 2rem 2rem rgba(a.$desaturated-blue, .2);

    @include a.breakpoint(xs, max) {
        max-width: 32.7rem;
    }

    &__header {
        width: 100%;

        &-image {
            width: 100%;
            display: block;
        }
    }

    &__main {
        padding: 4.5rem 4.8rem 4.8rem;
        @include a.flex(column, 0, 0);
        gap: 1.7rem;

        @include a.breakpoint(xs, max) {
            padding: 3.2rem 2.4rem;
            gap: 1.6rem;
        }
    }

    &__title {
        @include a.getclamp(font-size, 2.2, 2.8, 375, 768);
        font-weight: 900;
        color: a.$dark-blue;
        margin-bottom: .3rem;
    }

    &__text {
        font-weight: 400;
        line-height: 2.5rem;
        @include a.getclamp(font-size, 1.5, 1.6, 375, 768);
        margin-bottom: 0.3rem;
    }

    &__pricing {
        @include a.flex(0, 0, 0);
        background-color: a.$very-pale-blue;
        width: 100%;
        border-radius: 1rem;
        padding: 2rem;

        &-icon {
            margin-right: 1rem;
        }

        &-text {
            @include a.flex(column, 0, start);
            @include a.getclamp(font-size, 1.4, 1.6, 375, 768);
        }

        &-plan {
            @include a.getclamp(font-size, 1.4, 1.6, 375, 768);
            margin-bottom: 0.8rem;
            color: a.$dark-blue;
        }


        &-change {
            margin-left: auto;
            @include a.getclamp(font-size, 1.3, 1.4, 375, 768);

            &:link,
            :visited {
                text-decoration: underline;
                font-weight: 700;
                color: a.$bright-blue;
            }

            &:hover {
                text-decoration: none;
                color: rgba(a.$bright-blue, .7);
            }
        }
    }



    &__cancel-order {

        &:link,
        :visited {
            font-weight: 700;
            margin-bottom: 2rem;
            color: a.$desaturated-blue;
            font-size: 1.5rem;
        }

        &:hover {
            color: a.$dark-blue;
        }
    }
}

.btn {
    @include a.getclamp(font-size, 1.3, 1.4, 375, 768);
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color: a.$bright-blue;
    border-radius: 1rem;
    color: a.$very-pale-blue;
    font-weight: 700;
    box-shadow: 0rem 2rem 2rem rgba(a.$desaturated-blue, .2);

    &:hover {
        background-color: rgba(a.$bright-blue, .7);
        cursor: pointer;
    }
}